Word: <%= data[:word]%>
Correct: <%= data[:correct]%>
Suggestions: <%= data[:suggestions].join(", ") %>

<div class="page-header">
  <h1><span class="glyphicon glyphicon-ok"></span>ASpellchecker.info</h1>
  <h4>Web Service for the <a href="http://aspell.net/">GNU Aspell Spellchecking Library</a></h4>
  <h4>No affiliation with the GNU Project :)</h4>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">Introduction</div>
  <div class="panel-body">
    ASpellchecker.info is a REST Style Web Service wrapping the GNU Aspell Free and Open Source spell checker.  Please
    see the <a href="http://aspell.net/" target="_BLANK">Project's Website</a> for more information.
  </div>
</div>  